addict==2.4.0
cycler==0.10.0
Cython==0.29.23
dataclasses==0.8
enum34==1.1.10
future==0.18.2
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.2.54
Pillow==8.3.0
protobuf==3.17.3
pygobject==3.26.1
pyparsing==2.4.7
python-apt==1.6.5+ubuntu0.6
python-dateutil==2.8.1
python-distutils-extra==2.39
PyYAML==5.4.1
six==1.16.0
termcolor==1.1.0
torch==1.10.0.dev20210630+cpu
torchvision==0.11.0.dev20210630+cpu
tqdm==4.61.1
typing==3.7.4.3
typing-extensions==3.10.0.0
